body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d5f5a;
}

.container {
    color: #fff;
    width: 50%;
    margin: 50px auto;
    background-color: #10756f;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #1e2d2b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1e2d2b;
}